body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

.characters {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: gray;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: orange;
    transform: scale(1.1);
}

img {
    width: 100px;
}
